<div class="card text-center">
    <img (click)="handleClickOnproductButton()" [src]="product.image" class="card-img-top h-50 w-50 me-auto ms-auto" [alt]="product.name" />
    <div class="card-body">
      <h5 class="card-title">{{product.name | uppercase}}</h5>
      <p class="card-text">
        {{product.description}}
      </p>
      <p>{{ product.createdAt | date : 'MMMM , y' }}</p>
      <div *ngIf="product.count>0; then trueBlock; else falseBlock"></div>
      <ng-template #trueBlock>
        <div>in stock</div>
      </ng-template>
      <ng-template #falseBlock>
        <div>out of stock</div>
      </ng-template>
      <p>{{product.price | currency:"AUD":"EG":"2.":"fr"}}</p>
      <button class="btn btn-primary d-inline-block me-3" [disabled]="product.count===0" (click)="increaseCounter()">add to cart</button>
      <button class="btn btn-info" [ngStyle]="{'display':wishLIstButton?'none':'inline-block'}" (click)="pushToWishList(product)">add to wish list</button>
      <button class="btn btn-danger" [ngStyle]="{'display':!wishLIstButton?'none':'inline-block'}" (click)="removeWishList(product.id)">remove from wish list</button>

    </div>
  </div>